body {
	background-color: #eee;
	font-family: sans-serif;
}

input {
	box-sizing: border-box;
}

.mb-1{
	margin-bottom: 4px;
}

.card {
	margin-bottom: 24px;
	background-color: #fafafa;
}

.card-title {
	color:#36f;
	margin-right: 16px;
}

.block {
	padding: 4px;
}

.frame {
	border: 1px solid #aaa;
	border-radius: 4px;
}

.line-bot {
	border-bottom: 1px solid #aaa;
}

.title {
	padding-right: 24px;
}

.param-name:after {
	content: ":";
}

.param-desc {
	font-size: 75%;
	/* padding-left: 24px */
}

.type {
	font-style: italic;
	font-size: 85%
}

.doc-body {
	border-top: 1px solid #ccc;
	padding-top: 8px;
}

.code {
	background-color: #111;
	margin-top: 8px;
	color: #ccc;
	border: 1px solid #aaa;
	font-size: 85%;
	font-family: monospace;
	white-space: pre;
}

.btn-primary{
	background-color: #0dcaf0;
	border: 0;
	border-radius: 4px;
	padding: 4px 8px;
}

.btn-primary:hover{
	background-color: #306aff;
}